<header class="bar">
  <a class="bar__brand" href="#top">
    <span class="dot" aria-hidden="true"></span>
    <span>andy-barber.co.uk</span>
  </a>

  <nav class="tabs" aria-label="Sections">
    <a class="tab" href="#about"><b>1</b>about</a>
    <a class="tab" href="#skills"><b>2</b>skills</a>
    <a class="tab" href="#experience"><b>3</b>experience</a>
    <a class="tab" href="#certifications"><b>4</b>certs</a>
    <a class="tab" href="#projects"><b>5</b>work</a>
    <a class="tab" href="#contact"><b>6</b>contact</a>
  </nav>
</header>
